/* Zuz Generated CSS */

.zw00erzf { width: 500px; }
.zp003pzj { padding: 20px; }
.zb000i3h { border-radius: var(--radius); }
.zd00bc0j { display:flex; }
.za009bpl { align-items:center; }
.zj005put { justify-content:center; }
.zf00dt21 { flex-direction:column; }
.zf00afsr { font-size: 24px; }
.zf001np7 { font-weight: bold; }
.zf00e5gc { font-size: 16px; }
.zm00gqm3 { margin-top: 25px; }
.zf005l3u { font-size: 50px; }
.zm0036pp { margin-bottom: 25px; }
.zc006sht { color: var(--red-800); }
.zc00hzue { color: var(--green-700); }
.zp00bfua { padding: 50px; }
.zf00kfq6 { font-size: 18px; }
.zc00i2io { color: var(--manatee-700); }
.zf00m8uz { font-size: 15px; }
.zc00fhwf { color: var(--manatee-600); }
.zg00818v { gap: 10px; }
.zm00c9h2 { margin-top: 20px; }
.zg00bajn { gap: 5px; }
.zf005oht { font-size: 48px; }
.zm00l6ns { margin-bottom: 20px; }
.zp0077xb { position:relative; }
.zz0097k0 { z-index: 3; }
.zw000esk { width: 100%; }
.zp005x8j { padding: 20vh 20px 20px 20px; }
.zh00j3hs { height: 10px; }
.zb002p73 { border: 1px var(--neutral) solid; }
.za00f5ij { aspect-ratio: 1/1; }
.zw00m2yj { width: 50px; }
.zb00dkp7 { border-radius: 50%; }
.zb00igj4 { background: var(--accent); }
.za00gcxm { align-self:flex-start; }
.zf0052em { flex: 1; }
.zf00kcc7 { font-size: 20px; }
.zp00jm9n { padding-left: 6px; }
.zo008bwa { opacity: 0.5; }
.zf00lcdz { font-size: var(--text-xl); }
.zh002jjq { height: 100vh; }
.zw00ho00 { width: 50vw; }
.zb005y2z { background: var(--surface); }
.zp00m92a { position:absolute; }
.zt000iof { top:50%;left:50%;--abc-x:-50%;--abc-y:-50%;translate:calc(var(--abc-x) + var(--fx-x, 0px)) calc(var(--abc-y) + var(--fx-y, 0px)); }
.zp00b36r { padding: 150px; }
.zg00cidw { gap: 15px; }
.zf000s7j { font-size: var(--text-xxl); }
.zf00etom { font-size: var(--text-lg); }
.zm00g1sy { margin-bottom: 75px; }
.zb00hw2u { background: var(--primary); }
.zt00acjc { text-decoration:none; }
.zp00b4n8 { padding: var(--padding-md-x) var(--padding-lg-y); }
.zb00bxgb { border-radius: var(--radius-md); }
.zc00lr3r { color: var(--text-btn); }
.zm00jzbt { margin-top: 50px; }
.zb00a33v:hover { background: var(--primary-hover); }
.zm00auef { min-height: 100vh; }
.zw007g17 { width: 320px; }
.zg00ebip { gap: 12px; }
.zf003n9t { font-weight: 700; }
.zm00im1j { margin-bottom: 10px; }
.zm00jb8c { margin-top: 35px; }
.zt00cqk2:hover { text-decoration:underline; }
.zf007gro { font-size: var(--text-md); }
.zm00b8w1 { margin-top:35px;margin-bottom:35px; }
.zf0023g6 { font-size: var(--text-xl) !important; }
.zf009xjn { font-weight: 900; }
.zp002hc0 { padding: 40px 25px; }
.zz00lr8f { z-index: 99; }
.zp00kixz:ph { padding: 20px; }
.zh00c246 { height: 70px; }
.zb00jkrj { background: transparent !important; }
.zc006e86 { color: var(--text); }
.zg003750 { gap: 6px; }
.zc00ghk5 { color: var(--primary); }
.zf00hrpy { font-size: 10px; }
.zm0038ht { margin-right: 20px; }
.zp004xkc { padding: 6px 10px; }
.zb003bzi { border-radius: var(--radius-xl); }
.zw007vqk { width: 100vw; }
.zh00b0b1 { height: 80vh; }